# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/

# Flask
instance/
.webassets-cache

# OS/Editor
.DS_Store
Thumbs.db
.vscode/

# Logs
*.log

# Build
build/
dist/
*.egg-info/
